*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 200px;
  text-align: center;
}

button {
  font-size: 30px;
  padding: 25px;
  margin: 30px;

  border: #212121;

  color: #000080;
  cursor: pointer;
}
